body {
	font-family: arial;
}

.list {
	background-color: palegreen;
}

li[value="tools"] {
	border: 2px solid #a0b4cc;
}

#mern {
	letter-spacing: 5px;
}

h3 + img{
	height: 300px;
	width: 300px;
	border-radius:150px;
}

div {
	border-style: solid;
	border-color: #a0b4cc;
}


li{
	list-style: none;
}

.closing {
	text-align: center;
}